<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django PWA</title>
    {% load static %}
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/static/js/serviceworker.js')
                .then(() => console.log('Service Worker Registered'));
        }
    </script>
</head>
<body>
    <h1>Django PWA</h1>
    <h2>Welcome, {{ user.username }}!</h2>
    <form id="logout-form" method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>
